################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/bkiziuk.github.io/v15/.suo
/.vs/slnx.sqlite-journal
